{% extends 'base.html' %}

(% load static %)

{% block content %}

<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px; padding-top: 100px; padding-bottom: 100px; margin-bottom: 0px; background-color: #f0f0f0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-auto">
                    <div class="user-login text-center" style="padding: 20px; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); background-color: #fff;">
                        <h4 style="margin-bottom: 20px;">Forgot Password</h4>
                        <p style="margin-bottom: 20px;">Please Enter The Registered Email To Reset The Password</p>
                        <hr style="margin-bottom: 20px;">
                        <div id="restaurant-sets-holder">
                            <form action="{% url 'forgot_password' %}" class="login-form" method="post">
                                {% csrf_token %}
                                <div style="text-align: left;">
                                    <label>Email</label>
                                    <input type="email" name="email" placeholder="Enter your Email" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">
                                </div>
                                <button type= "submit" class="btn btn-primary">Send</button>
                                {% include 'includes/alert.html' %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>              
    </div>
</div>

{% endblock %}